<h1>You are En Fuego</h1>

<h2>Post a Run</h2>
<form method="post" action="/entries">
  <div>
    <input name="entry[workout][title]" placeholder="Title" />
  </div>
  <div>
    <input name="entry[workout][distance][value]" placeholder="Distance (miles)" />
    <input name="entry[workout][distance][units]" value="miles" type="hidden" />
  </div>
  <div>
    <input id="hours"   size="2" maxlength="2" placeholder="HH" onchange="updateDuration()" /> :
    <input id="minutes" size="2" maxlength="2" placeholder="MM" onchange="updateDuration()" /> :
    <input id="seconds" size="2" maxlength="2" placeholder="SS" onchange="updateDuration()" />
    <input id="duration" name="entry[workout][duration]" type="hidden" />
  </div>
  <div>
    <label><input type="radio" name="entry[workout][felt]" value="great" />Great</label>
    <label><input type="radio" name="entry[workout][felt]" value="good" />Good</label>
    <label><input type="radio" name="entry[workout][felt]" value="alright" />Alright</label>
    <label><input type="radio" name="entry[workout][felt]" value="blah" />Blah</label>
    <label><input type="radio" name="entry[workout][felt]" value="tired" />Tired</label>
    <label><input type="radio" name="entry[workout][felt]" value="injured" />Injured</label>
  </div>
  <div>
    <textarea name="entry[message]" placeholder="Notes"></textarea>
  </div>
  <div>
    <input name="entry[workout][completed_at]" value="<%= Time.now.strftime('%Y-%m-%d') %>" />
  </div>
  <div>
    <input name="entry[workout][activity_type]" value="running" type="hidden" />
    <input type="submit" value="Post Entry" />
  </div>
</form>

<h2><a href="/<%= session.user.api_key %>/entries/friends.atom">Subscribe to Feed</a></h2>

<script type="text/javascript">
  function numericValueOf(elementId) {
    return parseInt(document.getElementById(elementId).value) || 0;
  }

  function updateDuration() {
    document.getElementById('duration').value =
      numericValueOf('hours')   * 3600 +
      numericValueOf('minutes') * 60   +
      numericValueOf('seconds');
  }
</script>
