<h1>You are En Fuego</h1>

<h2>Post a Workout</h2>
<form method="post" action="/entries">
  <div>
    <label for="entry_message">Message</label>
    <input id="entry_message" name="entry[message]" />
  </div>
  <div>
    <label for="entry_workout_activity_type">Activity Type</label>
    <input id="entry_workout_activity_type" name="entry[workout][activity_type]" value="running" />
  </div>
  <div>
    <label for="entry_workout_completed_at">Completed At</label>
    <input id="entry_workout_completed_at" name="entry[workout][completed_at]" value="<%= Time.now.strftime('%Y-%m-%d') %>" />
  </div>
  <div>
    <label for="entry_workout_distance_value">Distance Value</label>
    <input id="entry_workout_distance_value" name="entry[workout][distance][value]" />
  </div>
  <div>
    <label for="entry_workout_distance_units">Distance Units</label>
    <input id="entry_workout_distance_units" name="entry[workout][distance][units]" value="miles" />
  </div>
  <div>
    <label for="entry_workout_duration">Duration (seconds)</label>
    <input id="entry_workout_duration" name="entry[workout][duration]" />
  </div>
  <div>
    <label for="entry_workout_felt">Felt</label>
    <input id="entry_workout_felt" name="entry[workout][felt]" value="good" />
  </div>
  <div>
    <label for="entry_workout_title">Title</label>
    <input id="entry_workout_title" name="entry[workout][title]" />
  </div>
  <div>
    <input type="submit" value="Post Entry" />
  </div>
</form>

<h2><a href="/feed/<%= session.user.api_key %>">Subscribe to Feed</a></h2>
