<h1>You are En Fuego</h1>

<h2>Post a Run</h2>
<form method="post" action="/entries">
  <div>
    <label for="entry_workout_title">Title</label>
    <input id="entry_workout_title" name="entry[workout][title]" />
  </div>
  <div>
    <label for="entry_workout_distance_value">Distance (miles)</label>
    <input id="entry_workout_distance_value" name="entry[workout][distance][value]" />
    <input id="entry_workout_distance_units" name="entry[workout][distance][units]" value="miles" type="hidden" />
  </div>
  <div>
    <label for="entry_workout_duration">Duration (seconds)</label>
    <input id="entry_workout_duration" name="entry[workout][duration]" />
  </div>
  <div>
    <label for="entry_workout_felt">Felt</label>
    <select id="entry_workout_felt" name="entry[workout][felt]">
      <option value="great">Great</option>
      <option value="good" selected="selected">Good</option>
      <option value="alright">Alright</option>
      <option value="blah">Blah</option>
      <option value="tired">Tired</option>
      <option value="injured">Injured</option>
    </select>
  </div>
  <div>
    <label for="entry_message">Notes</label>
    <textarea id="entry_message" name="entry[message]"></textarea>
  </div>
  <div>
    <label for="entry_workout_completed_at">Completed At</label>
    <input id="entry_workout_completed_at" name="entry[workout][completed_at]" value="<%= Time.now.strftime('%Y-%m-%d') %>" />
  </div>
  <div>
    <input id="entry_workout_activity_type" name="entry[workout][activity_type]" value="running" type="hidden" />
    <input type="submit" value="Post Entry" />
  </div>
</form>

<h2><a href="/feed/<%= session.user.api_key %>">Subscribe to Feed</a></h2>
