<form method="post" action="/entries" onsubmit="calculateDuration()">
  <h1>You are En Fuego</h1>
  <p>
    <input name="entry[workout][title]" placeholder="Route" autofocus class="wide" />
  </p>

  <p>
    <input name="entry[workout][distance][value]" size="5" placeholder="Miles" /> in
    <input name="entry[workout][distance][units]" value="miles" type="hidden" />
    <input id="hours" size="2" maxlength="2" placeholder="hh" />:<input id="minutes" size="2" maxlength="2" placeholder="mm" />:<input id="seconds" size="2" maxlength="2" placeholder="ss" />
    <input id="duration" name="entry[workout][duration]" type="hidden" /> on
    <input name="entry[workout][completed_at]" value="<%= Time.now.strftime('%Y-%m-%d') %>" type="date" />
  </p>

  <p>
    <label><input type="radio" name="entry[workout][felt]" value="great" />Great</label>
    <label><input type="radio" name="entry[workout][felt]" value="good" checked />Good</label>
    <label><input type="radio" name="entry[workout][felt]" value="alright" />Alright</label>
    <label><input type="radio" name="entry[workout][felt]" value="blah" />Blah</label>
    <label><input type="radio" name="entry[workout][felt]" value="tired" />Tired</label>
    <label><input type="radio" name="entry[workout][felt]" value="injured" />Injured</label>
  </p>

  <p>
    <textarea name="entry[message]" placeholder="Notes" class="wide" rows="8"></textarea>
  </p>

  <p class="buttons">
    <input name="entry[workout][activity_type]" value="running" type="hidden" />
    <input type="submit" value="Post this Workout" />
  </p>
</form>

<script type="text/javascript">
  function numericValueOf(elementId) {
    return parseInt(document.getElementById(elementId).value) || 0;
  }

  function calculateDuration() {
    document.getElementById('duration').value =
      numericValueOf('hours')   * 3600 +
      numericValueOf('minutes') * 60   +
      numericValueOf('seconds');
  }
</script>
