<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>You Are En Fuego</title>
    <% if session.user %><link rel="alternate" type="application/atom+xml" href="/<%= session.user.api_key %>/entries/friends.atom" /><% end %>
    <style type="text/css">
      body {
        background-color: #fc0;
        font-family: Monaco, monospace;
        margin: auto;
        width: 640px;
      }

      form {
        background-color: #fff;
        box-shadow: 0em 0em 5em #333;
        -moz-box-shadow: 0em 0em 5em #333;
        -webkit-box-shadow: 0em 0em 5em #333;
        color: #333;
        padding: 3em;
      }

      input, textarea {
        font: inherit;
      }

      .buttons {
        text-align: right;
      }

      .wide {
        width: 98%;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
